.navbar a, .navbar .title {
  display: inline-block;
  padding: 0 20px;
  color: var(--secondary-color);
  vertical-align: middle; 
}

.navbar .title {
  font-family: 'Chango', cursive;
  width: 290px;
  text-shadow: 10px;
}